<!DOCTYPE html>
<html lang="fi">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Töihin Neilikalle</title>
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  {% include 'bootstrap.html' %}
</head>
<body>
  {% include 'kiitos-modali.html' %}
  {% include 'nav.html'%}
  {% include 'hero.html'%}
  {% include 'tyopaikat.html'%}
  {% include 'tietoa-meista.html'%}
  
  {% include 'yhteydenotto.html' %}

  {% include 'footer.html'%}

</body>
</html>