<style>
  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
  }

  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
  }

  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .feature-icon-small {
    width: 3rem;
    height: 3rem;
  }

</style>

<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom" id="tieto">Puutarha Neilikka työnantajana</h2>

  <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
    <div class="col d-flex flex-column align-items-start gap-2">
      <h2 class="fw-bold text-body-emphasis">Rakkaudesta kasveihin</h2>
      <p class="text-body-secondary">Puutarha Neilikka on paitsi tuotteidensa laadusta ylpeä myös työntekijöidensä hyvinvoinnista. Yritys tarjoaa innostavan työympäristön, jossa työntekijöitä rohkaistaan olemaan luovia ja jakamaan intohimoa kasvien parissa. Henkilöstö on omistautunut asiakkaiden tarpeiden täyttämiseen ja jakaa yhteisen rakkauden puutarhanhoitoon.</p>
    </div>

    <div class="col">
      <div class="row row-cols-1 row-cols-sm-2 g-4">
        <div class="col d-flex flex-column gap-2">
          <h4 class="fw-semibold mb-0 text-body-emphasis">Kilpailukykyinen palkka</h4>
          <p class="text-body-secondary">Puutarha Neilikka tarjoaa työntekijöilleen kilpailukykyisen palkan sekä mahdollisuuden ansaita lisäetuja, kuten suoritusbonuksia.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <h4 class="fw-semibold mb-0 text-body-emphasis">Kattavat työsuhde-edut</h4>
          <p class="text-body-secondary">Työntekijät nauttivat Puutarha Neilikan tarjoamista kattavista työsuhde-eduista, mukaan lukien laajat terveydenhuoltopalvelut, tukien heidän hyvinvointiaan.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <h4 class="fw-semibold mb-0 text-body-emphasis">Joustavat työajat</h4>
          <p class="text-body-secondary">Puutarha Neilikka mahdollistaa joustavat työajat, edistäen siten työn ja elämän tasapainoa työntekijöille.</p>
        </div>

        <div class="col d-flex flex-column gap-2">
          <h4 class="fw-semibold mb-0 text-body-emphasis">Jatkuvaa kehitystä</h4>
          <p class="text-body-secondary">Yritys rohkaisee työntekijöiden jatkuvaa oppimista tarjoamalla monipuolisia koulutus- ja kehittymismahdollisuuksia, tukien ammatillista kasvua ja urakehitystä.</p>
        </div>
      </div>
    </div>
  </div>
</div>